.fileUploadArea{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.embed {
    width: 320px;
    border-radius: 15px;
    height: 320px;
    border: 1px dashed black;
    display: inline-block;
    position: relative;
    top: 30px;
}
.embed:hover{
    color:#1677ff;
    border: 1px dashed #1677ff;
    transition: opacity .3s cubic-bezier(.645,.045,.355,1),margin .3s,color .3s;
}
input.uploadFile {
    width: 320px;
    height: 320px;
    border: 1px dashed black;
    margin-top: 0px;
    opacity: 0;
    position: relative;
    z-index: 99;
    cursor: pointer;
    border-radius: 15px;
}

div.fileDrop {
    position: relative;
    text-align: center;
    top: -190px;
}
.uploadName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.videoArea{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoPlayBottom{
    width:70px;
    height:30px;
    margin-right:5px;
}